<h1>Connectez vous</h1>

<form action="" method="post">
    <input type="text" name="username" id="username" />
    <input type="password" name="password" id="password" />
    <input type="submit" value="Envoyer" />
</form>