<h1>Créer un compte</h1>

<form action="" method="post">
    <input type="email" name="mail" id="mail" required="true"/>
    <input type="email" name="mail_confirm" id="mail_confirm" required="true"/>
    
    <input type="password" name="password" id="password" required="true"/>
    <input type="password" name="password_confirm" id="password_confirm" required="true"/>

    <input type="submit" value="S'enregistrer" />
</form>